{% extends 'users_generator/base.html' %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    <div>
      <label for="data_from">Дата рождения с</label>
      <input type="date" id="data_from" name="data_from" value={{ data_from }}></input>
      <label for="data_to">по</label>
      <input type="date" id="data_to" name="data_to" value={{ data_to }}></input>
    </div>
    <div>
      <input type="radio" id="contactChoice1" name="gender" {% if gender == 'male'%} checked {% endif %} value="male">
      <label for="contactChoice1">male</label>
      <input type="radio" id="contactChoice2" name="gender" {% if gender == 'female'%} checked {% endif %} value="female">
      <label for="contactChoice2">female</label>
      <input type="radio" id="contactChoice3" name="gender" {% if gender == 'random'%} checked {% endif %} value="random">
      <label for="contactChoice3">random</label>
    </div>
    <div>
      <label for="number">Количество записей (только для CSV) </label>
      <input type="number" min="1" max="100000" id="number" name="number"></input>
    </div>
    <button type="submit">Create</button>
    <button type="submit" name="type" value="csv">Create and download CSV</button>
  </form>

  <div class="container pt-5">
    <div class="row">
      <div class="col">
        <p>{
      <br>&nbsp;&nbsp;&nbsp;&nbsp;'gender': '{{user.gender}}',<br>
      &nbsp;&nbsp;&nbsp;&nbsp;'surname': '{{user.surname}}',<br>
      &nbsp;&nbsp;&nbsp;&nbsp;'firstname': '{{user.firstname}}',<br>
      &nbsp;&nbsp;&nbsp;&nbsp;'patranymic': '{{user.patranymic}}',<br>
      &nbsp;&nbsp;&nbsp;&nbsp;'date_birth': '{{user.date_birth}}',<br>
      &nbsp;&nbsp;&nbsp;&nbsp;'username': '{{user.username}}',<br>
      &nbsp;&nbsp;&nbsp;&nbsp;'password': '{{user.password}}',<br>
      }
        </p>
      </div>
      <div class="col">
        <div class="m-3 pt-4">
          <div class="alert alert-light">
            <strong>Warning!</strong> Не используйте сгенерированные пароли для реальных пользователей
          </div>
        </div>
      </div>
    </div>
  {% endblock content %}